.bio {
    background-image: url('../content/images/IMG_02.JPEG');
    background-position: right center;
}

.bio_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 78vh;
}

.bio_text {
    text-align: justify;
    padding: 4vh 4vw;
    width: 20vw;
}

@media screen and (max-width: 767px) {
    .bio_text {
        width: 70vw;
    }
}