.footer {
    height: 4vh;
    width: 100%;
    padding: 2vh 0vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    opacity: .6;
}

.dark_footer {
    height: 4vh;
    width: 100%;
    padding: 2vh 0vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(40, 40, 40, 0.5);
}

.dark_footer .social_logo {
    filter: invert(1);
    opacity: .75;
}

.social_logo {
    height: 4vh;
    transition-duration: 250ms;
}

.social_link {
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_logo:hover {
    height: 4.5vh;
    opacity: 1;
}

#social_section {
    width: 26vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }

    #social_section {
        width: 100vw;
    }
}
