.home {
    background-image: url('../content/images/IMG_01.JPEG');
    background-position: center;
}

.music_player {
    width: 20vw;
    padding: 4vh 2vw;
    margin: 4vh 2vw;
    color: whitesmoke;
    background-color: rgba(40, 40, 40, 0.5);
}

.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 78vh;
}

.music_box {

    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .music_box {
        flex-direction: column;
    }

    .music_player {
        width: 80vw;
    }

    
}