@font-face {
    font-family: 'Asar';
    src: url('../content/fonts/Asar-Regular.ttf');
}

.navigation {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.navigator {
    list-style: none;
    text-decoration: none;
}

.navlink {
    font-family: 'Asar';
    font-size: 12pt;
    text-decoration: none;
    color: black;
    transition-duration: 500ms;
}

.navlink:hover {
    filter: opacity(.5);
}

