@font-face {
    font-family: 'Cinzel';
    src: url('../content/fonts/Cinzel-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Emblema';
    src: url('../content/fonts/EmblemaOne-Regular.ttf');
}

.title {
    height: 4vh;
    font-family: 'Emblema';
    font-size: 32pt;
    padding: 4vh 2vw;
    user-select: none;
}